<section class="section">
    <div class="container">
        <div class="columns">

            <!-- LEFT SIDE -->
            <div class="column is-two-thirds">
                <div class="columns is-multiline">

                    <!-- Title -->
                    <div class="column is-full">
                      <p class="title is-4"><%= @offer.title %></p>
                      <article class="media">
                        <div class="media-content">
                          <p>
                            <%= @offer.category.name %>
                            <span class="is-pulled-right"><i>Posted on: <%= @offer.created_at.strftime('%d, %b, %Y') %></i></span>
                          </p>
                          <p>Offer Valid From: <%= @offer.valid_from.strftime('%d, %b, %Y') %> | Valid Until: <%= @offer.valid_to.strftime('%d, %b, %Y') %></p>
                          Estimated Fullfilment Within: <%= @offer.delivery %> days | Bookings : <td class="has-text-right"><%= link_to @offer.bookings.count, offer_bookings_path(@offer) %></td> | Offer Price: <%= @offer.price %>
                        </div>
                      </article>
                    </div>

                    <!-- Description -->
                    <div class="column is-full">
                      <div class="card">
                        <div class="card-content">
                              <strong>Description</strong>
                              <hr>
                              <%= @offer.description %>
                              <% if @offer.attachment_file.attached? %>
                              <p>
                                <%= link_to url_for(@offer.attachment_file),
                                            class: "tag small is-warning m-t-20",
                                            download: "Attachment_#(@offer.attachment_file)" do %>

                                    <i class="fas fa-paperclip fa-lg p-r-5"></i><%= @offer.attachment_file.filename %>
                                <% end %>
                              </p>
                              <% end %>
                        </div>
                      </div>
                    </div>

                    <!-- About Buyer -->
                    <div class="column">
                        <div class="card">
                            <div class="card-content">
                                <strong>About the Business / Tradesman</strong>
                                <hr/>

                                <div class="content">
                                    <div class="columns">

                                        <!-- Buyer Avatar -->
                                        <div class="column">
                                          <div class="card-content is-horizontal-center is-flex">
                                            <figure class="image is-96x96">
                                              <%= image_tag avatar_url(@offer.trade), class: "is-rounded" %>
                                            </figure>
                                          </div>
                                          <div class="content has-text-centered">
                                            <p class="title is-5"><%= @offer.trade.full_name %></p>
                                            <button class="button is-black is-outlined is-full-width">
                                              Contact Me
                                            </button>
                                          </div>
                                        </div>

                                        <!-- Buyer Profile -->
                                        <div class="column f-15">

                                          <article class="media">
                                            <div class="media-content">
                                              <i class="fas fa-user m-r-5"></i>Member since
                                            </div>
                                            <div class="media-right">
                                              <%= @offer.trade.created_at.strftime('%b %Y') %>
                                            </div>
                                          </article>
                                          <article class="media">
                                            <div class="media-content">
                                              <i class="fas fa-map-marker-alt m-r-5"></i>From
                                            </div>
                                            <div class="media-right">
                                              <%= @offer.trade.from %>
                                            </div>
                                          </article>
                                          <article class="media">
                                            <div class="media-content">
                                              <%= @offer.trade.about %>
                                            </div>
                                          </article>
                                        </div>

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- RIGHT SIDE -->
            <div class="column">
              <div class="card">
                  <%= form_for(@booking, :html => {class: "form-horizontal", role: "form"}) do |f| %>
                  <div class="card-content">
                    <%= f.hidden_field :offer_id, value: @offer.id %>
                    <div class="field">
                      <label for="" class="label">Tip Offered ( £ )</label>
                      <%= f.number_field :tip_offered, class: "input" %>
                    </div>
                    <div class="field">
                      <label for="" class="label">Booking For</label>
                      <%= f.date_field :booking_date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
                    </div>
                    <div class="field">
                      <label for="" class="label">Booking Notes</label>
                      <%= f.text_area :note, class: "textarea" %>
                    </div>
                    <%= f.button'<i class="fas fa-user-edit fa-lg" aria-hidden="true"></i>
                         Amend'.html_safe, class: "button is-success is-fullwidth" %>
                  </div>

              <% end %>
              </div>
            </div>

        </div>
    </div>
</section>
