<div class="jumbotron">
  <div class="container">
  <h1>The power of community</h1>
  <% if !user_signed_in? %>

      <%= link_to 'Sign Up Now', new_user_registration_path, class:"btn btn-primary btn-lg" %>

  <% else %>

      <%= link_to 'Post Your Job', '/listings/new', class:"btn btn-primary btn-lg" %>

  <% end %>

  </div>
</div>
<div class="container col-md-12">


<% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %> |
      <%= link_to "Jobs", listings_path %>

<% else %>

    <%= link_to "Trade Sign Up", new_trade_registration_path %> |
    <%= link_to "Trade Sign In", new_trade_session_path %> |
    <%= link_to "Jobs Listed", listings_path %>

<% end %>
|<%= link_to "About", about_path %>

</div>
