<section class="section">
  <div class="container">
    <p class="title">
      Manage Offers
      <%= link_to 'Post new offer', new_offer_path, class: "button is-primary is-pulled-right" %>

    </p>
    <table class="table is-fullwidth">
      <thead class="is-centered">
        <tr>
          <td>Date</td>
          <td>Offer</td>
          <td class="has-text-right">Number of Offers</td>
          <td class="has-text-right">Action</td>
        </tr>
      </thead>
      <tbody>
        <% if @offers.blank? %>
          <tr>
            <td colspan="4" class="has-text-centered"><h1>Nothing To Show Here</h1></td>
          </tr>
        <% end %>
        <% @offers.each do |o| %>
        <tr>
          <td><%= o.created_at.strftime('%d, %b, %Y') %></td>
          <td><%= link_to o.title, offer_path(o) %></td>
          <td class="has-text-right"><%= link_to o.bookings.count, offer_bookings_path(o) %></td>
          <td class="has-text-right">
              <%= link_to edit_offer_path(o), class: "m-r-5" do %>
              <span class="icon has-text-success">
                <i class="far fa-edit fa lg"></i>
              </span>
              <% end %>

              <%= link_to o, method: :delete, data: { confirm: "Are you sure ?" } do %>
                  <span class="icon has-text-success">
                    <i class="far far-trash-alt fa lg"></i>
                  </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
