<section class="section">
  <div class="container">
    <div class="form-container">
      <p class="title is-4 has-text-centered">Your Promotional Offers ?</p>

      <%= form_for @offer do |o| %>
        <div class="field">
          <label class="label">Title (*)</label>
          <%= o.text_field :title, placeholder: "I am offering....", class: "input" %>
        </div>
        <div class="field">
          <label class="label">Description (*)</label>
          <%= o.text_area :description, placeholder: "I am offering the services....", class: "textarea" %>
        </div>
        <div class="field">
          <label class="label">Choose a category</label>
          <div class="select is-fullwidth">
            <%= o.select(:category_id, options_for_select(@categories.map { |c| [c.name, c.id]})) %>
          </div>
        </div>

        <div class="field">
          <label class="label">Delivery</label>
          <%= o.number_field :delivery, placeholder: "1-30 days", class: "input" %>
        </div>


        <div class="field">
          <label class="label">Discount Offered</label>
          <%= o.number_field :discount_offer, placeholder: "10% Minimum", class: "input" %>
        </div>

        <div class="field">
          <label class="label">Valid From</label>
          <%= o.date_field :valid_from, as: :date, value: o.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
        </div>

        <div class="field">
          <label class="label">Valid Until</label>
          <%= o.date_field :valid_to, as: :date, value: o.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %>
        </div>

        <div class="field">
          <label class="label">Upload attachment (Optional)</label>
            <div class="file is-warning has-name">
              <label class="file-label">
                <%= o.file_field :attachment_file, class: "file-input" %>
                <span class="file-cta"><span class="file-label">Choose a file...</span></span>
                <span class="file-name", id="file-name">No file selected</span>
              </label>
            </div>
        </div>
          <div class="field has-text-centered">
            <%= o.submit 'Post Offer', class: "button is-primary" %>
          </div>
      <% end %>
    </div>
  </div>
</section>



<script>
  $(document).ready(function() {
    var file = $('.file-input');
    file.change(function(e) {
      if (file[0].files.length > 0) {
        var attachment = file[0].files[0];
        $('.file-name').text(attachment.name + " (" + attachment.size + " bytes)" );
      }
    })
  })

</script>
