<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Testdev</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>



  </head>
  <body>
        <%= render 'layouts/navigation' %>
        <%= render 'layouts/notification' %>

        <%= yield %>

        <%= render 'layouts/footer' %>
        <%= render 'layouts/debugger' %>

      <script>
        $(document).ready(function(){
          setTimeout(function(){
            $('.alert-notice, .alert-success').fadeOut("slow", function(){
              $(this).remove();
            })
          }, 3500);
        });


        $(document).ready(function(){
          setTimeout(function(){
            $('.alert-alert, .alert-danger').fadeOut("slow", function(){
              $(this).remove();
            })
          }, 3500);
        });
        </script>



        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/bootstrap.min.js"></script>
        <script>
          $(function() {
            $('[data-tooltip]').tooltip();
          });
        </script>


        <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous">
        </script>

  </body>
</html>
